body{
    padding: 0;
    margin: 0;
}

.main{
    border: 0px solid black;
    width: 100%;
}

.container{
    border: 0px solid black;
}

h2{
    padding: 7px;
    padding-top: 10px;
}

p{
    padding: 7px;
}

#left{
    display: inline;
}


.action{
    width: 100%;
    border: 0px solid black;
    margin-bottom: 40px;
}

button{
    width: 49%;
    height: 50px;
    border: 0;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.one{
    background-color: #FF4326;
    color: white;
    margin-right: 1%;
}

.two{
    color: white;
    background-color: #76AC9F;
    margin-left: 1%;

}

.saved{
    background-color: white;
    color: #ff4326;
    margin-right: 1%;
}