body{
    padding: 0;
    margin: 0;
}

.footer{
    background-color: white;
    z-index: 999999;
    width: 100%;
    border-top: 1px solid silver;
}

img{
    width: 30px;
}


.i{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 25%;
    display: inline;
}

.margin-left{
    margin-left: 26px;
}