
body{
    padding: 0;
    margin: 0;
}

.city{
    padding: 7px;
    width: 100%;
    border: 1px solid silver;
    position: fixed;
    z-index: 99;
    background-color: white;
}

input{
    height: 35px;
    border:1px solid silver;
    width: 100%;
}